{
	"arrowParens": "always",
	"bracketSameLine": false,
	"printWidth": 80,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"useTabs": true,
	"semi": true,
	"jsxBracketSameLine": true,
	"jsxSingleQuote": false,
	"singleAttributePerLine": true,
	"bracketSpacing": true,
	"endOfLine": "lf",
	"plugins": ["prettier-plugin-tailwindcss"]
}
